<div class="row g-3">

@if (isLoading) {
  <div class="text-center py-4">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">
        Loading...
      </span>
    </div>

    <p class="mt-2">
      Chargement des produits...
    </p>
  </div>
}

@if (errorMessage) {
  <div class="alert alert-danger">
    {{ errorMessage }}
  </div>
}

  <!-- PRODUCT LIST -->
  <div
    [ngClass]="isSidePanelVisible ? 'col-md-8' : 'col-12'"
    class="transition-all"
  >

    <div class="card h-100 shadow-sm">

      <!-- Header -->
      <div class="card-header bg-primary text-white">

        <div class="row align-items-center">

          <div class="col-md-9">
            <h5 class="mb-0">Product List</h5>
          </div>

          <div class="col-md-3 text-end">

            <button
              class="btn btn-sm btn-success"
              (click)="openSidePanel()"
            >
              <i class="bi bi-plus-lg"></i>
              Add New
            </button>

          </div>

        </div>

      </div>

      <!-- Filter -->
      <app-product-filter
        [categories]="categoryList"
        (searchChange)="onSearchChange($event)"
        (categoryChange)="onCategoryChange($event)"
      ></app-product-filter>

      <!-- List -->
      @if (!isLoading && !errorMessage) {
  <app-product-list
    [products]="filteredProductList"
    (edit)="onEditProduct($event)"
    (delete)="onDeleteProduct($event)"
  />
}

@if (successMessage) {
  <div class="alert alert-success">
    {{ successMessage }}
  </div>
}

    </div>

  </div>


  <!-- FORM -->
  @if (isSidePanelVisible) {

    <div class="col-md-4">

      <app-product-form
        [product]="productObj"
        [categories]="categoryList"
        (save)="onSaveProduct($event)"
        (close)="closeSidePanel()"
        (reset)="resetForm()"
      ></app-product-form>

    </div>

  }

</div>